{#
/**
 * @file
 * Theme override to display a one-column layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 */
#}
{%
  set classes = [
    'layout',
    'layout--onecol',
    settings.label,
    settings.sizing,
    settings.background_color,
    settings.padding,
    settings.margin_top,
    settings.margin_bottom,
    settings.slider,
  ]
%}
{% if content %}
  <div{{ attributes.addClass(classes) }}>
    <div class="layout-inner">
      <div {{ region_attributes.content.addClass('layout__region', 'layout__region--content') }}>
        {{ content.content }}
      </div>
    </div>
  </div>
{% endif %}