.block-inline-blockhero {
  display: flex;
  justify-content: center;
  align-items: center;


  @include breakpoint($desktop, true) {
    background-attachment: fixed !important;
    background-position: top center !important;
  }

  h1, p {
    @include heading_font();
    font-size: 5vw;
    color: white;
    padding: 5px 25px;
    text-align: center;
    border-radius: .3rem;
    text-transform: uppercase;
  }

  .hero-top {
    margin: 40px;
    @include breakpoint($tablet, true) {
      margin: 180px;
      max-width: 1200px;
    }

    img {
      height: auto;
      display: block;
    }
  }

  .hero-button {
    text-align: center;
  }
}