.block-inline-blockimage {
  margin: 0 20px;
}

.block-layout-builder {
  img {
    display: block;
    height: auto;
    margin: 0 auto 20px auto;
  }
}
#cboxTitle {
    clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}