.view-blog {
  .view-content{
	  @include breakpoint(650px, true){
		  display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-gap: 1rem;
	  }
  }
}

.node--type-blog {
	h2 {
	    font-size: 1em;
    }
}