.col-3 {
  .column {
    @include breakpoint(700px, true) {
      float: left;
      width: 33%;
    }
  }
}

.col-2 {
  .column {
    @include breakpoint(700px, true) {
      float: left;
      width: 50%;
    }
  }
}
.row::after {
  content: "";
  display: block;
  clear: both;
}
