.block-webform-block {
  margin: 20px;
  line-height: 1.2;
  color: white;
  font-weight: 700;
  text-transform: uppercase;

  input  {
    width: 100%;
    padding: 10px;
    border-radius: .4rem;
    border:none;
  }
  .webform-button--submit {
    width: 100%;
    padding: 12px;
  }
  .form-actions {
    text-align: center;
  }
  h2 {
    color: white;
    text-align: center;
    font-weight: 100;
  }
}
.webform-confirmation__message, .webform-confirmation__back {
    @include container();
}

.layout.webform {
  padding: 40px;
  background-image: url("../img/rocker_fly2.png"), linear-gradient(to bottom, rgba(47, 122, 229,1), rgba(47, 122, 229,1));
  background-position: bottom center;
  background-repeat: no-repeat;

  .webform-button--submit {
    border: 2px solid palette(brand, future);
    background: palette(brand, future);
    color: white;

    &:hover {
      border: 2px solid white;
      color: palette(brand, future);
      background: palette(brand, main);

    }
  }
}