footer {
  clear: both;
  background: palette(mono, dark);

  h2 {
    color: white;
    text-align: center;
  }
  .field--name-body {
    text-align: center;
    p, code {
      color: white;
    }
    a {
      margin: 0 30px;
    }
  }
  .footer-inner {

    @include container();

    p, label {
      font-size: .9rem;
      margin: 0;
      color: white;
    }

    .region-footer {
      font-size: .9rem;
      padding: 20px;
    }
  }
}
