a:link,
a:focus,
a:hover,
a:visited{
  text-decoration: none;
}

  p, .paragraph--type--text-box, h2 {
    a:link, a:focus, a:visited {
      color: palette(brand, green);
      font-weight: bold;
    }
    a:hover {
      color: palette(mono, black);
      font-weight: bold;
    }
  }