a:link,
a:focus,
a:hover,
a:visited{
  text-decoration: none;
}

  p, .paragraph--type--text-box, h2 {
    a:link, a:focus, a:visited {
      color: palette(vibrant, discovery);
      font-weight: bold;
    }
    a:hover {
      color: palette(mono, black);
      font-weight: bold;
    }
  }
.creek {
  a:link, a:focus, a:visited {
    color: palette(penn, beaver-blue);
    font-weight: bold;
  }

  a:hover {
    color: palette(penn, nittany-navy);
    font-weight: bold;
  }
}