.tabs {
  text-align: center;
  background: palette(mono, black);

  a, a.is-active {
    color: white;
    background: palette(mono, black);

    &:hover {
      color: palette(mono, black);
      background: palette(mono, light);
    }
  }

}