.top-row{
  border-bottom: 1px solid palette(mono, light);

  .top-row-wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1rem;
    @include container();
    padding:10px;

    @include breakpoint($desktop, true) {
      padding: 5px;
    }

    .contact {
      grid-column-start: 1;
      grid-column-end: 13;
      display: block;
      align-items: center;

      text-align: center;

      @include breakpoint($desktop, true) {
        grid-column-start: 1;
        grid-column-end: 9;
        order: 1;
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }

      a {
        display: block;
        border: 2px solid palette(brand, green);
        color: palette(brand, green);
        padding: 10px;
        @include breakpoint($desktop, true) {
          border: none;
        }

      }
      .field--name-body p {
        margin-bottom: 0;
      }
    }

    .social {
     display: block;
      grid-column-start: 1;
      grid-column-end: 13;
      align-items: center;
      justify-content: flex-end;
      text-align: center;


      @include breakpoint($desktop, true) {
        display: flex !important;
        grid-column-start: 10;
        grid-column-end: 13;
        order: 2;
      }
      .field--name-body {

        p {
          margin-bottom: 0;
        }
      }

    }
  }
}
