.block-webform-block {
  margin: 20px;
  line-height: 1.2;
  input  {
    width: 100%;
  }
  .webform-button--submit {
    width: inherit;
  }
  .form-actions {
    text-align: center;
  }
}
.webform-confirmation__message, .webform-confirmation__back {
    @include container();
}