//Common Breadpoints
$tablet: 768px;
$desktop: 960px;

//Colors
/*
* Better function for color palettes using Sass maps
* Usage: color: palette(brand,salmon);
*/
@function palette($palette, $tone: 'white') {
    @return map-get( map-get($palettes, $palette), $tone );
}

$palettes: (
  mono: (
    black: #000,
    dark: #191a1c,
    medium: #35383c,
    base: #666,
    light: #f1f1f1,
    white: #fff,
  ),
  brand: (
    green: #007C0C,
    discovery: #cd3627,
    future: #99CC00,
    wonder: #491D70,
    opportunity: #008755,
    potential: #000321,
    invent: #E98300,
  )
);

//Fonts
@mixin reg_font {
  font-family: 'Poppins', sans-serif;
  color: palette(mono,dark);
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 2;
}
@mixin heading_font {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: palette(mono,dark);
  margin-bottom: 20px;
  margin-top: 20px;
  line-height: 1.2;
}

@mixin container {
  box-sizing: border-box;
  max-width: 1350px;
  margin-left: auto;
  margin-right: auto;
}