.callout-boxes-section-wrapper {
  @include container();
  overflow: hidden;
  padding: 40px 0;
}

.callout-boxes {
  @include breakpoint(900px, true) {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  h2 {
    font-size: 16px;
    letter-spacing: 0;
    line-height: 1.2;
  }
}

.callout-boxes-row {
  padding: 10px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.045);
  margin: 1px;
}

.callout-boxes-section-introduction, .callout-boxes-section-closing {
  padding: 20px 0;
}