.paragraph--type--image-with-text-section {

  .full {
    width: 100%;
  }

  .medium {
    background: palette(mono,medium);
    h2 {
      color: palette(mono,white)
    }
    p {
      color: palette(mono,white)
    }

  }
  .creek {
    background: palette(penn,creek);

    h2 {
      color: palette(mono,white)
    }
    p {
      color: palette(mono,white)
    }
  }

  .beaver-blue {
    background: palette(penn,beaver-blue);

    h2 {
      color: palette(mono,white)
    }
    p {
      color: palette(mono,white)
    }
  }
}
