.paragraph--type--image-with-text {
  @include container();
  padding: 10px 30px;

  .image.left {
    @include breakpoint(800px, true) {
      float: left;
      margin-right: 20px;
      margin-top: 10px;
      max-width: 300px;
    }
  }
  .image.right {
    @include breakpoint(800px, true) {
      float: right;
      margin-left: 20px;
      margin-top: 10px;
      max-width: 300px;
    }
  }
}