.listed-items-wrapper {
  @include breakpoint(700px, true) {
    display: flex;
    flex-flow: wrap;
    justify-content: flex-start;
  }
}

.listed-item {
  text-align: left;
  margin-bottom: 20px;
  padding: 5px;
  @include breakpoint(1000px, true) {
      padding: 25px;
    }


  i {
    display: table-cell;
    float: left;
    width: 50px;
  }

  .listed-item-content {
    display: table-cell;
    padding-left: 24px;
  }
}

.two-column {
  .listed-item {

    @include breakpoint(700px, true) {
      width: 45%;
    }
    @include breakpoint(700px, true) {
      width: 45%;
    }

  }
}

.three-column {
  .listed-item {
    @include breakpoint(700px, true) {
      width: 28%;
    }
  }
}
