.background-image {
  a {
    .white {
      color: #fff;
    }
  }
}
.promotional-banner-icons {
  display: flex;
  justify-content: center;
  .promotional-icon {
    padding: 0 30px;

    a {
      display: block;
    }
  }
}

.promotional-banner-icons.full {

  .promotional-icon {
    padding: 0 30px;
  }
}

.promotional-banner-icons.wrap50 {
  flex-flow: wrap;
  justify-content: flex-start;
  .promotional-icon {
    width: 50%;
    margin: 40px 0;
    padding: 0;
  }
}

.promotional-banner-icons.wrap33 {
  flex-flow: wrap;
  justify-content: flex-start;
  .promotional-icon {
    width: 33%;
    margin: 40px 0;
    padding: 0;
  }
}
a {
  .logo-title {
    font-size: 1.2rem;
  }
}
[data-overlay-dark] {
  .promotional-icon i {
    opacity: .5;
  }
}
