.paragraph--type--text-with-form {
  @include breakpoint(950px, true) {
    @include container();
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1rem;
  }
  .text-with-form-text {
    grid-column-start: 1;
    grid-column-end: 9;
    padding: 10px 30px;
  }
  .text-with-form-form {
    grid-column-start: 9;
    grid-column-end: 13;
    padding: 20px;
  }
}