/*
 * @file
 * Provides the layout styles for four-column layout section.
 */

.layout--fourcol-section > .layout-inner {
  display: flex;
  flex-wrap: wrap;
}

.layout--fourcol-section > .layout-inner > .layout__region {
  flex: 0 1 100%;
  padding: 5px;
}

@media screen and (min-width: 40em) {
  .layout--fourcol-section > .layout-inner > .layout__region {
    flex: 0 1 25%;
  }
}