.layout__region {
  padding: 10px;
}
.layout.border_bottom {
  border-bottom: 1px solid palette(mono, light);
  padding-bottom: 30px;
}

//Layout BG Colors not sure if this is the best way to do this yet.
.layout.light {
  background: palette(mono, light) !important;
  p, .layout-builder-block__content-preview-placeholder-label {
    color: palette(mono, dark);
  }
}