$imagefloat: 800px;

#block-homepageblock {
  @include container();
  padding: 20px;

  .flex-container {
    @include breakpoint ($imagefloat, true) {
      display: flex;
    }
  }
  .item {

    img {
      max-width: 400px;
      margin: 0 auto;
      @include breakpoint ($imagefloat, true) {
        float: left;
        max-width: 350px;
        height: auto;
        margin-right: 40px;
      }
    }
  }
}