/*////////////////////////////////////////
// Buttons
///////////////////////////////////////*/
.btn, .webform-button--submit {
    font-size: .9rem;
    background-color: transparent;
    line-height: 1;
    letter-spacing: 1px;
    padding: 1.1rem 2.1rem;
    transition: all .3s;
    display: inline-block;
    border-radius: 3px;
    font-weight: bold;
}
.btn:hover {
}

/* Button Style */
.btn-primary {
    color: #fff;
}
.btn-ghost:hover {
    color: #fff;
}
.btn-light {
  background-color: white;
  color: palette(vibrant, discovery);
}
.btn-light:hover, .btn-dark:focus {
    background-color: palette(vibrant, discovery);
    color: white;
}
.btn-dark, .webform-button--submit {
    background-color: #222;
    color:white;
    border: 2px solid #222;
}
p {
  a:link.btn-dark, a:visited.btn-dark {
    color:white;
  }
}
.btn-dark:hover, .webform-button--submit:hover {
    color: palette(vibrant, discovery);
    background: white;
    border-color: palette(vibrant, discovery);
}
p {
  a:link.btn-dark:hover, a:visited.btn-dark:hover {
    color: palette(vibrant, discovery);
  }
}
/* Button Shapes */
.btn-square {
    border-radius: 0;
}
.btn-round {
  border-radius: 60px;

  @include breakpoint(1400px, true) {
    padding: 1.7rem 2.1rem;
  }
}
.btn-circle {
    border-radius: 100px;
}
/* Button Appear */
.btn-appear {
    text-align: center;
    position: relative;
    overflow: hidden;
    transition: all 0.2s;
}
.btn-appear  span {
    display: inline-block;
    position: relative;
    padding: 0;
    transition: padding 0.2s;
}
.btn-appear i {
    position: absolute;
    top: 50%;
    right: 0px;
    opacity: 0;
    margin-top: -6px;
    -webkit-transition: opacity 0.2s, right 0.2s;
    -moz-transition: opacity 0.2s, right 0.2s;
    transition: opacity 0.2s, right 0.2s;
}
.btn-appear:hover span {
    padding: 0 17px 0 0;
}
.btn-appear:hover i {
    top: 50%;
    right: 0;
    opacity: 1;
    -webkit-transition: opacity 0.2s, right 0.2s;
    -moz-transition: opacity 0.2s, right 0.2s;
    transition: opacity 0.2s, right 0.2s;
}
/* Button Hover */
.btn-primary:hover,
.btn-primary.focus, .btn-primary:focus,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary.active, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:active,
.btn-primary:active:focus {
    opacity: 0.8;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    transition: opacity 0.3s;
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: none;
}
/* Shortcodes Styling */
#elements-buttons .btn {
    margin-bottom: 10px;
}
