button, select {
    text-transform: none;
    width: 100%;
    /* text-align: center; */
    padding: 10px;
    cursor: pointer;
}

.contact.box-style input, .contact.box-style textarea, input, textarea {
    padding: 10px 0;
    border: 1px solid #e1e1e1;
    width: 100%;
}

