.footer {
  clear: both;
  background: black;
  .region-footer {
    font-size: .9rem;
    padding: 20px;

    @include container();
    p {
      font-size: .9rem;
     margin: 0;
     color: white;
    }
  }
}
