//Breaks
$header_shift_search: 800px;
$header_shift_1: 990px;
$header_shift_2: 1300px;
$header_shift_3: 1500px;

.header {
  background: white;
  padding-top: 5px;

  @include breakpoint($header_shift_1, true) {
    padding-top: 15px;
  }

  .header-inner {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1rem;

    @include breakpoint ($header_shift_1, true) {
      padding: 0 20px;
    }
    .click-search-form.open {
      grid-column-start: 2;
      grid-column-end: 12;
      display: block;
      align-items: center;
      padding: 10px;
      order: 5;

      @include breakpoint($header_shift_search, true) {
        grid-column-start: 6;
        grid-column-end: 11;
        display: flex;
        align-items: center;
        padding: 10px;
        order: 2;
        justify-content: flex-end;
      }

      @include breakpoint($header_shift_1, true) {
        grid-column-start: 2;
        grid-column-end: 12;
        order: 5;
        display: block;
      }

      input.form-autocomplete {
        @include breakpoint($header_shift_search, true) {
          min-width: 275px;
        }
      }
    }

    .logo {
      grid-column-start: 1;
      grid-column-end: 9;
      display: flex;
      align-items: center;
      padding: 10px;
      order: 1;

      @include breakpoint($header_shift_1, true) {
        grid-column-start: 1;
        grid-column-end: 5;
        justify-content: flex-start;
      }

      i {
        font-size:2.5em;
        padding-left:10px;
        color:#FF69B4;
      }

      img {
        width: 280px;
      }
    }

    .navigation {
      display: none;
      grid-column-start: 1;
      grid-column-end: 13;
      order: 4;

      @include breakpoint($header_shift_1, true) {
        display: flex !important;
        grid-column-start: 5;
        grid-column-end: 12;
        order: 2;
        align-items: center;
      }

      ul.horizontal-menu {
        margin: 0;
        text-align: center;

        li {

          a, span {
            color: black;
            background: none;
            display: block;
            font-size: 1rem;
            padding: 5px 15px;
            cursor: pointer;

            &:hover {
              color: palette(brand, main);
              background: white;
              border-radius: 35px;
            }
          }


          a.is-active {
            background: palette(brand, main);
            border-radius: 35px;
            color: white;
          }
        }

        li.menu-item--active-trail {
          span {
            background: palette(brand, main);
            border-radius: 35px;
            color: white;
          }
        }

        ul.menu.sub-nav {
          margin: 0;
          padding-top: 15px;

          li {
            a {
              background: white;
              display: block;
              color: palette(brand, main);
              padding-left:  20px;
              border-radius: 0;

              &:hover {
                background: #f1f1f1;
                padding-left: 10px;
                border-radius: 0;
              }
            }
          }
        }
      }
    }

    .navigation.open {
      display: block;
    }

    .search {
      grid-column-start: 11;
      grid-column-end: 12;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      order: 2;
      font-size: 1.8rem;
      cursor: pointer;

      @include breakpoint($header_shift_search, true) {
        order: 3;
      }
      @include breakpoint($header_shift_1, true) {
        grid-column-start: 12;
      }

    }

    .menu-icon {
      grid-column-start: 12;
      grid-column-end: 12;
      display: flex;
      align-items: center;
      padding-right: 10px;
      order: 3;

      .responsive-menu-toggle-wrapper.responsive-menu-toggle {
        display: block !important;
      }

      .responsive-menu-toggle-icon {
        box-sizing: border-box;
        display: block;
        width: 50px;
        height: 40px;
        z-index: 4;

        position: relative;
        background: palette(brand, main);
        border-radius: 5px;
        cursor: pointer;

        &:before, span.icon, &:after {
          width: 25px;
        }

        &:before {
          top: 10px;
        }

        span.icon {
          top: 18px;
        }

        &:after {
          top: 26px;
        }

        .label {
          display: none;
        }
      }

      @include breakpoint ($header_shift_1, true) {
        display: none !important;
      }
    }
  }
}

.mm-wrapper_opening .responsive-menu-toggle-icon:before, .mm-wrapper_opening .responsive-menu-toggle-icon:after {
    top: 17px !important;
}
