.rrssb-facebook .rrssb-icon {
    background: url(../img/facebook.svg);
}
.rrssb-twitter .rrssb-icon {
    background: url(../img/twitter.svg);
}
.rrssb-pinterest .rrssb-icon {
    background: url(../img/pinterest.svg);
}