.block-page-title-block {
	@include container();

	h1 {
		font-size: 2em;
		margin: 20px 0;
		border-bottom: 1px solid palette(brand, main);
		@include breakpoint(800px, true) {
			font-size: 4em;
		}
	}
}