/*////////////////////////////////////////
// Typography
///////////////////////////////////////*/
body, p {
  @include reg_font();
}
h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading_font();
}
strong {
  font-weight: bold;
}
h1 {
    font-size: 3rem;
    letter-spacing: -2px;
    margin: 10px 0;
}

h2 {
    font-size: 2.5rem;
    letter-spacing: -0.05em;
}

h3 {
    font-weight: 200;
    font-size: 30px;
    letter-spacing: -1px;
}
h3.discovery {
  color: palette(brand, main);
  margin-top: 0;
}
h4 {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0px;
}

h5 {
    font-size: 16px;
    letter-spacing: 0;
    font-weight: 200;
}

h6 {
    font-size: 13px;
    letter-spacing: 0;
}

[data-overlay-dark] p {
    font-weight: 400;
}
.lead {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.4;
}
[data-overlay-dark] p.lead {
    font-weight: 300;
}


p,
ul,
ol,
pre,
table,
blockquote {
    margin-bottom: 20px;
}

blockquote {
    font-size: 18px;
    line-height: 1.7;
    font-style: italic;
    padding: 10px 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    color: #999;
    border-left: 2px solid;
}
strong {
  font-weight: bold;
}
hr {
  margin: 0;
  border-color: #f4f4f4;
}
a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
}

