.layout.border_bottom {
  border-bottom: 1px solid palette(mono, light);
  padding-bottom: 30px;
}

//Layout BG Colors not sure if this is the best way to do this yet.
.layout.light {
  background: palette(mono, light) !important;
  p, .layout-builder-block__content-preview-placeholder-label {
    color: palette(mono, dark);
  }
}

//Layout BG Colors not sure if this is the best way to do this yet.
.layout.future {
  background: palette(brand, future) !important;
  p, h2, .layout-builder-block__content-preview-placeholder-label {
    color: palette(mono, white);
  }
}
//Layout BG Colors not sure if this is the best way to do this yet.
.layout.main {
  background: palette(brand, main) !important;
  p, h2, .layout-builder-block__content-preview-placeholder-label {
    color: palette(mono, white);
  }
  a.btn-dark, a.btn-light {
    background: palette(brand, future);
    color: white;
    border: 2px solid palette(brand, main);
    border-radius: .4rem;

    &:hover {
      color: white;
      background: palette(brand, future);
      border: 2px solid white;
    }
  }
}

.layout.vcenter {
  .layout-inner {
    align-items: center;
  }
}