//Colors
/*
* Better function for color palettes using Sass maps
* Usage: color: palette(brand,salmon);
*/
@function palette($palette, $tone: 'white') {
    @return map-get( map-get($palettes, $palette), $tone );
}

$palettes: (
  mono: (
    black: #000,
    dark: #191a1c,
    medium: #35383c,
    base: #666,
    light: #888,
    white: #fff,
  ),
  penn: (
    slate: #314D64,
    creek: #3EA39E,
    limestone: #A2AAAD,
    penn-sky: #009CDE,
    beaver-blue: #1E407C,
    nittany-navy: #001E44,
  ),
  classic: (
    land-grant: #6A3028,
    pugh-blue: #96BEE6,
    lion-shrine: #B88965,
    lions-roar: #BF8226,
    old-coaly: #444444,
    penns-forest: #4A7729,
    original: #BC204B,
  ),
  vibrant: (
    keystone: #FFD100,
    discovery: #F2665E,
    future: #99CC00,
    wonder: #491D70,
    opportunity: #008755,
    potential: #000321,
    invent: #E98300,
  )
);

//Fonts
@mixin reg_font {
  font-family: 'Open Sans', sans-serif;
  color: palette(mono,dark);
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2;
}
@mixin heading_font {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  color: palette(mono,dark);
  margin-bottom: 20px;
  margin-top: 20px;
  line-height: 1.2;
}

@mixin container {
  box-sizing: border-box;
  max-width: 1350px;
  margin-left: auto;
  margin-right: auto;
}
