/*////////////////////////////////////////
// Overlay
///////////////////////////////////////*/
[data-overlay-dark],
[data-overlay-light],
[data-overlay-color] {
    position: relative;
}
[data-overlay-dark] .container,
[data-overlay-light] .container,
[data-overlay-color] .container {
    position: relative;
    z-index: 2
}
[data-overlay-dark]:before,
[data-overlay-light]:before,
[data-overlay-color]:before,
[data-overlay-dark] .hero-slider .slide:before,
[data-overlay-light] .hero-slider .slide:before,
[data-overlay-color] .hero-slider .slide:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}
[data-overlay-dark]:before, [data-overlay-dark] .hero-slider .slide:before {background: #000} /*  #19191b  */
[data-overlay-light]:before, [data-overlay-light] .hero-slider .slide:before {background: #fff}
[data-overlay-color]:before, [data-overlay-color] .hero-slider .slide:before {background: #425cbb}
[data-overlay-dark] h1,
[data-overlay-dark] h2,
[data-overlay-dark] h3,
[data-overlay-dark] h4,
[data-overlay-dark] h5,
[data-overlay-dark] h6,
[data-overlay-color] h1,
[data-overlay-color] h2,
[data-overlay-color] h3,
[data-overlay-color] h4,
[data-overlay-color] h5,
[data-overlay-color] h6 {
    color: #fff;
}
[data-overlay-dark] p,
[data-overlay-color] p {
    color: #bbb;
}
[data-overlay-dark="0"]:before,[data-overlay-light="0"]:before,[data-overlay-color="0"]:before{opacity:0}
[data-overlay-dark="1"]:before,[data-overlay-light="1"]:before,[data-overlay-color="1"]:before{opacity:.1}
[data-overlay-dark="2"]:before,[data-overlay-light="2"]:before,[data-overlay-color="2"]:before{opacity:.2}
[data-overlay-dark="3"]:before,[data-overlay-light="3"]:before,[data-overlay-color="3"]:before{opacity:.3}
[data-overlay-dark="4"]:before,[data-overlay-light="4"]:before,[data-overlay-color="4"]:before{opacity:.4}
[data-overlay-dark="5"]:before,[data-overlay-light="5"]:before,[data-overlay-color="5"]:before{opacity:.5}
[data-overlay-dark="6"]:before,[data-overlay-light="6"]:before,[data-overlay-color="6"]:before{opacity:.6}
[data-overlay-dark="7"]:before,[data-overlay-light="7"]:before,[data-overlay-color="7"]:before{opacity:.7}
[data-overlay-dark="8"]:before,[data-overlay-light="8"]:before,[data-overlay-color="8"]:before{opacity:.8}
[data-overlay-dark="9"]:before,[data-overlay-light="9"]:before,[data-overlay-color="9"]:before{opacity:.9}
[data-overlay-dark="10"]:before,[data-overlay-light="10"]:before,[data-overlay-color="10"]:before{opacity:1}


[data-bg-grey],
.bg-grey {
    background-color: #f7f7f7;
}