.block-inline-blockbasic {

  .field--name-body {
    //padding: 0 20px;
  }

  h2 {
    text-transform: uppercase;
  }
}

.block-inline-blockbasic.brand {
  background: palette(brand, main);
  color: white;

  h2,p  {
    color: white;
  }
}

.block-inline-blockbasic.accent {
  background: palette(brand, future);
  color: white;

  h2,p  {
    color: white;
  }
}