.block-inline-blockblock-w-background {
  @include breakpoint($desktop, true) {
    background-attachment: fixed !important;
    background-position: top center !important;
  }
  h2 {
    color: black;
  }
  p {
    font-weight: 900;
  }
}

.font-light {

  h2, p {
    color: white;
  }
}