.layout--twocol-section {

  .block-inline-blockmedia-gallery {

    .field--name-images {
      display: flex;
      justify-content: space-between;
      flex-wrap:wrap;

      .field__item {
        width: 50%;
        padding: 10px;

        img {
          margin-bottom: 0;

        }
      }
    }
  }
}

.layout--onecol {
  .block-inline-blockmedia-gallery {

    .field--name-images {
      display: flex;
      justify-content: space-between;
      flex-wrap:wrap;

      .field__item {
        width: 50%;
        padding: 10px;

        @include breakpoint($desktop, true) {
          width: 25%;
        }

        img {
          margin-bottom: 0;

        }
      }
    }
  }

}