.node-page-layout-builder-form {
  text-align: center;

  .vertical-tabs {
    display: none;
  }

  .button {
    font-size: 1rem;
    line-height: 1;
    letter-spacing: 1px;
    padding: 1.1rem 2.1rem;
    transition: all .3s;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    color: palette(brand, black);
    background: white;
    border: 2px solid palette(brand, black);

    &:hover {
      color: white;
      border-color: palette(brand, black);
      background: black;
    }
  }

}
.js-form-type-linkit {
    input {
      width: 100%;
    }
  }